
body {
    background-color:rgb(11, 148, 193); 
    color: #30fa11; 
    font-family: Garamond, serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image:url(/data/images/mountain-7627493_1280\ \(1\).jpg)
}

a {
    color: #66fcf1; 
    text-decoration:underline;
    font-size: 1.5rem;
    transition: color 0.3s ease;
    margin:1rem;
}

a:hover {
    color: #5e92e0; 
    text-shadow: 0px 0px 8px rgba(94, 232, 129, 0.8); 
}

 .box{
    background-color:rgb(18, 234, 234);
    color: rgba(0, 0, 0, 0.815);
    margin:1rem;
    padding:1rem;
    border-radius: 1rem;
    display: inline-table;
    width: 30vw;
    height: 360px;
    font-family:"Courier New", Courier, monospace;
    justify-content: center;

   
 }
