
body {
    background-color:rgb(3, 67, 88); 
    color: #29f70a; 
    font-family: Garamond, serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

a {
    color: #66fcf1; 
    text-decoration:underline;
    font-size: 1.5rem;
    transition: color 0.3s ease;
    margin:1rem;
}

a:hover {
    color: #5e92e0; 
    text-shadow: 0px 0px 8px rgba(102, 252, 241, 0.8); 
}

 .box{
    background-color:lightcyan;
    color: black;
    margin:1rem;
    padding:1rem;
    border-radius: 1rem;
    display: inline-block;
    width: 25vw;
    height: 300px;
    font-family:"Courier New", Courier, monospace;
    justify-content: center;
 }