
body {
    background-color:rgb(193, 11, 123); 
    color:rgb(235, 243, 7); 
    font-family: Garamond, serif;
    
    margin: 1.5
    padding: 3rem;
    background-image:url(../data/images/Copper_wrangell-.jpg)
}

  