
body {
    background-color:rgb(193, 11, 123); 
    color:rgb(243, 247, 53); 
    font-family: Garamond, serif;
    margin: 1
    padding: 1rem;
    background-image:url(/data/images/Copper_wrangell-.jpg)
}

  